In [1]:
using CSV;
using DataFrames;
using CategoricalArrays

In [2]:
dados = CSV.read("dataset000.csv", DataFrame)

5×5 DataFrame
 Row │ Nome     Idade  Tipo de Usuário  Ticket Médio  Idade da Conta
     │ String7  Int64  String7          Float64       Int64
─────┼───────────────────────────────────────────────────────────────
   1 │ João        28  Premium                150.5                3
   2 │ Maria       35  Free                    45.2                2
   3 │ Pedro       22  Free                    30.0                1
   4 │ Ana         45  Premium                200.75               5
   5 │ Lúcia       29  Free                    40.8                2

In [3]:
describe(dados)

5×7 DataFrame
 Row │ variable         mean    min   median  max      nmissing  eltype
     │ Symbol           Union…  Any   Union…  Any      Int64     DataType
─────┼────────────────────────────────────────────────────────────────────
   1 │ Nome                     Ana           Pedro           0  String7
   2 │ Idade            31.8    22    29.0    45              0  Int64
   3 │ Tipo de Usuário          Free          Premium         0  String7
   4 │ Ticket Médio     93.45   30.0  45.2    200.75          0  Float64
   5 │ Idade da Conta   2.6     1     2.0     5               0  Int64

In [4]:
dados."Tipo de Usuário" = categorical(dados."Tipo de Usuário")

5-element CategoricalArray{String7,1,UInt32}:
 String7("Premium")
 String7("Free")
 String7("Free")
 String7("Premium")
 String7("Free")

In [5]:
describe(dados)

5×7 DataFrame
 Row │ variable         mean    min   median  max      nmissing  eltype        ⋯
     │ Symbol           Union…  Any   Union…  Any      Int64     DataType      ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Nome                     Ana           Pedro           0  String7       ⋯
   2 │ Idade            31.8    22    29.0    45              0  Int64
   3 │ Tipo de Usuário          Free          Premium         0  CategoricalVa
   4 │ Ticket Médio     93.45   30.0  45.2    200.75          0  Float64
   5 │ Idade da Conta   2.6     1     2.0     5               0  Int64         ⋯
                                                                1 column omitted

In [6]:
levels(dados."Tipo de Usuário")

2-element Vector{String7}:
 "Free"
 "Premium"